<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>사관학교 정보</h2>
    이름: <%= aiInfo.name %> <br>
    주소: <%= aiInfo.address %> <br>
    가격: <%= aiInfo.price %> <br>
    기수: <%= aiInfo.number %>
</body>
</html>