<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>선생님 소개</h2>
    <ul>
        <% teacher.forEach(function(t) { %>
            <li><%= t.name %> (<%= t.nick %>) - 나이: <%= t.age %>, 취미: <%= t.hobby %></li>
        <% }); %>
    </ul>
</body>
</html>