<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>선생님 소개</h2>
    <table border="1">
        <tr>
            <td>이름</td>
            <td>별명</td>
            <td>나이</td>
            <td>취미</td>
        </tr>
        <% teacher.forEach((t) => { %>
            <tr>
                <td><%= t.name %></td>
                <td><%= t.nick %></td>
                <td><%= t.age %></td>
                <td><%= t.hobby %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>