<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>팀원 정보 입력하기</h2>
    <form action="introduce" method="post">
        이름 : <input type="text" name="name"><br>
        별명 : <input type="text" name="nickname"><br>
        연락처 : <input type="text" name="contact"><br>
        취미 : <input type="text" name="hobby"><br>
        <input type="submit" value="제출하기">
    </form>
</body>
</html>