<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>할 일 수정</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>할 일 수정</h1>
  <form id="edit-form">
    <input type="text" id="task" value="<%=todo.task%>" required>
    <button type="submit">수정 완료</button>
  </form>
  <a href="/todos">목록으로 돌아가기</a>

  <script>
    const form = document.getElementById("edit-form");

    form.addEventListener("submit", async (e) => {
      //1. 폼 기본 제출 막기
      e.preventDefault();
      //2. input 태그에 작성된 task 값 가져오기
      const task = document.getElementById('task').value;
      //3. 수정 요청 경로로 요청하기 (fetchAPI 활용) 
      //   단, 수정 요청시 폼에 작성된 태스크 값을 서버로 보내야함
      const res = await fetch('/todos/<%=todo.id%>',{
        method : 'PUT',
        headers : {'Content-Type' : 'application/json'},
        body : JSON.stringify({task})
      })
      //4. 200 OK 코드가 응답올 경우 '수정 완료' 알림창으로 출력 후에 최종적으로 index.ejs 페이지 띄워주기
      //   삭제가 안된 경우에는 '수정 실패' 알림창 띄우기
      if(res.ok){
        alert('수정이 완료 되었습니다');
        location.href = '/todos';
      }else{
        alert('수정에 실패했습니다');
      }

    });
  </script>
</body>
</html>