<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- localhost:3000/ -->
            <!-- ./ : 현재 위치 기준으로(상대경로) -->
            <!-- /  : root(뿌리) → 최상단으로 부터 (절대경로) -->
            <a href="/" class="nav-brand">My Website</a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">