<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>상품목록</h2>
    <ul>
        <!-- 여기에 해당 클라이언트의 쿠키 값 출력 -->
        <% goods.forEach((goods) => { %>
            <li><%= goods %></li>
        <% }); %>
    </ul>
    <a href="/goodsRemove"><button>장바구니 비우기</button></a>
</body>
</html>